<html>
  <head>
    <title>Edit My Project</title>
    <link rel="stylesheet" href="/assets/css/project.css" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/nav.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg ul-style">
      <div class="container-fluid">
        <img
          src="/assets/img/girl.png"
          alt=""
          style="height: 45px; padding-right: 15px"
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end custom-offcanvas"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-body">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
              <li class="nav-item">
                <a class="nav-link" style="color: black" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: black" href="/project">Add
                  Project</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  style="color: black"
                  href="/testimonial"
                >Testimonials</a>
              </li>
            </ul>
            <a href="/contact" class="btn btn-pink">Contact Me</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="project-container m-auto mt-3 mb-3 px-4 py-4 rounded">
      <form method="post" action="/edit-project/{{index}}">
        <h2 class="text-center">EDIT POST PROJECT</h2>
        <div class="mb-3">
          <label for="input-project" class="form-label mb-0">Name</label>
          <input
            type="text"
            class="form-control"
            id="input-project"
            name="nameProject"
            value="{{project.nameProject}}"
          />
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="start-date" class="form-label mb-0">Start Date</label>
            <input
              type="date"
              class="form-control"
              id="start-date"
              name="startDate"
              value="{{project.startDate}}"
            />
          </div>
          <div class="col">
            <label for="end-date" class="form-label mb-0">End Date</label>
            <input
              type="date"
              class="form-control"
              id="end-date"
              name="endDate"
              value="{{project.endDate}}"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="input-desc" class="form-label mb-0">Description</label>
          <textarea
            class="form-control"
            id="input-desc"
            name="description"
            rows="3"
          >{{project.description}}</textarea>
        </div>
        <label class="form-label mb-0">Technologies</label>
        <div class="mb-3 d-flex justify-content-start gap-4">
          <div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="technologies"
                value="Node JS"
                id="node-js"
                {{#if (includes project.technologies "Node JS")}}checked{{/if}}
              />
              <label class="form-check-label" for="node-js">
                Node JS
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="technologies"
                value="React JS"
                id="react-js"
                {{#if (includes project.technologies "React JS")}}checked{{/if}}
              />
              <label class="form-check-label" for="react-js">
                React JS
              </label>
            </div>
          </div>
          <div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="technologies"
                value="Typescript"
                id="typescript"
                {{#if (includes project.technologies "Typescript")}}checked{{/if}}
              />
              <label class="form-check-label" for="typescript">
                Typescript
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                name="technologies"
                value="Next JS"
                id="next-js"
                {{#if (includes project.technologies "Next JS")}}checked{{/if}}
              />
              <label class="form-check-label" for="next-js"> Next JS </label>
            </div>
          </div>
        </div>
        <label for="upload-img" class="form-label mb-0">Upload Image</label>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="upload-img" />
          <img
            class="input-group-text clip"
            src="/assets/icon/paper-clip.png"
            alt=""
          />
        </div>
        <div id="error" style="color: red"></div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-pink">Edit Project</button>
        </div>
      </form>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>