<html>
  <head>
    <title>Add Project</title>
    <link rel="stylesheet" href="assets/css/project.css" />
    <link rel="stylesheet" href="assets/css/index.css" />
    <link rel="stylesheet" href="assets/css/nav.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg ul-style">
      <div class="container-fluid">
        <img
          src="assets/img/girl.png"
          alt=""
          style="height: 45px; padding-right: 15px"
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end custom-offcanvas"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-body">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
              <li class="nav-item">
                <a class="nav-link" style="color: black" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  style="color: black"
                  href="/project"
                >Add Project</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  style="color: black"
                  href="/testimonial"
                >Testimonials</a>
              </li>
            </ul>
            <a href="/contact" class="btn btn-pink">Contact Me</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="project-container m-auto mt-3 mb-3 px-4 py-4 rounded">
      <form method="post" action="/project" onsubmit="return validateForm()">
        <h2 class="text-center">ADD MY PROJECT</h2>
        <div class="mb-3">
          <label for="input-project" class="form-label mb-0">Name</label>
          <input
            type="text"
            class="form-control"
            id="input-project"
            name="nameProject"
          />
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="start-date" class="form-label mb-0">Start Date</label>
            <input
              type="date"
              class="form-control"
              id="start-date"
              name="startDate"
            />
          </div>
          <div class="col">
            <label for="end-date" class="form-label mb-0">End Date</label>
            <input
              type="date"
              class="form-control"
              id="end-date"
              name="endDate"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="input-desc" class="form-label mb-0">Description</label>
          <textarea
            class="form-control"
            id="input-desc"
            name="description"
            rows="3"
          ></textarea>
        </div>
        <label class="form-label mb-0">Technologies</label>
        <div class="mb-3 d-flex justify-content-start gap-4">
          <div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="Node JS"
                id="node-js"
                name="technologies"
              />
              <label class="form-check-label" for="node-js">
                Node JS
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="React JS"
                id="react-js"
                name="technologies"
              />
              <label class="form-check-label" for="react-js">
                React JS
              </label>
            </div>
          </div>
          <div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="Typescript"
                id="typescript"
                name="technologies"
              />
              <label class="form-check-label" for="typescript">
                Typescript
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="Next JS"
                id="next-js"
                name="technologies"
              />
              <label class="form-check-label" for="next-js"> Next JS </label>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="upload-img" class="form-label mb-0">Upload Image</label>
          <div class="input-group">
            <input type="file" class="form-control" id="upload-img" name="image" accept="image/*" onchange="previewImage(event)"/>
            <img class="input-group-text clip" src="assets/icon/paper-clip.png" alt="" />
          </div>
          <div class="mt-3" style="max-width: 300px">
            <div id="preview-container" style="display: none;">
              <img id="preview" src="#" alt="Preview" class="img-thumbnail w-100" style="object-fit: cover;"/>
              <button type="button" class="btn btn-danger btn-sm mt-2" onclick="removeImage()">Remove Image</button>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-pink">Submit</button>
        </div>
      </form>
    </div>

    <div class="bg-danger-subtle px-3 py-3 mt-0">
      <div class="py-2">
        <h2 class="text-center">MY PROJECT</h2>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
        {{#each projects}}
          <div class="col">
            <div class="card mb-3 pb-3">
              <img src="{{image}}" class="card-img-top" alt="" />
              <div class="card-body">
                <a href="/project-detail/{{id}}" class="project-title-link">
                  <h5 class="card-title">{{nameProject}}</h5>
                </a>
                <p>Durasi: {{get-durasi startDate endDate}}</p>
                <p class="text-muted">{{formatDate startDate}} - {{formatDate endDate}}</p>
                <div class="description-container">
                  <p class="card-text">{{description}}</p>
                </div>
              </div>
              <div class="d-flex tech-icon gap-3 ms-3">
                {{#each technologies}}
                  <img
                    src="{{get-tech-icon this}}"
                    alt="{{this}}"
                    class="tech-icon"
                  />
                {{/each}}
              </div>
              <div class="mt-4 mx-3 d-flex justify-content-center gap-2">
                <a
                  href="/edit-project/{{id}}"
                  class="btn btn-pink flex-fill btn-custom"
                >Edit</a>
                <form
                  class="flex-fill btn-custom"
                  method="post"
                  action="/delete-project/{{id}}"
                >
                  <button
                    class="btn btn-pink flex-fill btn-custom"
                  >Delete</button>
                </form>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <script>
      function previewImage(event) {
        const preview = document.getElementById('preview');
        const previewContainer = document.getElementById('preview-container');
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onloadend = function() {
          preview.src = reader.result;
          previewContainer.style.display = 'block';
        }

        if (file) {
          reader.readAsDataURL(file);
        } else {
          removeImage();
        }
      }

      function removeImage() {
        const preview = document.getElementById('preview');
        const previewContainer = document.getElementById('preview-container');
        const fileInput = document.getElementById('upload-img');
        
        preview.src = '#';
        previewContainer.style.display = 'none';
        fileInput.value = ''; // Reset file input
      }
    </script>

    <script>
      {{{validateForm}}}
    </script>
  </body>
</html>